html, body {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Barlow', sans-serif;
}
img {
    display: block;
    margin: auto;
    box-shadow: 2px 2px 2px 0px #7d7d7d96;
}

#navbar {
    background-color: #C9E4E7;
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    box-shadow: 2px 2px 2px 0px #eaeaea;
}
#navbar a {
    float: left;
    display: block;
    text-align: center;
    margin: 4px 8px;
    color: black;
    text-decoration: none;
}
.post {
    border: 1px solid lightgray;
    padding: 10px 30px;
    margin: 10px;
}
.post-info {
    color: #4e4e4e;
}
.post-info > span {
    margin-right: 1em;
}
.post-info .fa {
    margin-right: 0.4em;
    color: black;
}
.post-info .fa-heart {
    color: red;
}


.comment-container {
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid #80808099;        
}

.comment {
    position: relative;
    padding: 10px;
}

.comment-details {
    text-align: right;
}

.comment-box {
    width: 400px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 50px;
}

.comment-box textarea {
    width: 100%;
}

.comment-box input[type=button] {
    display: block;
    float: right;
    margin-top: 10px;
}

a:link, 
a:visited { 
color:#000000; 
text-decoration:none; 
} 
a:hover, 
a:active { 
color:#3498DB; 
text-decoration:none; 
} 